!!!
%html
  %head
    %title
      Six Minutes
    %meta{:name => 'description', :content => 'six minutes'}
    = stylesheet_link_tag :all 
    = javascript_include_tag :defaults, 'jquery.countdown.min.js'
    = yield(:head)    
    = csrf_meta_tag 

%body
  %ul{:class=>"hmenu"}
    =render :partial => '/shared/user_links'
    =render :partial => '/shared/register_links'  
    %li
      &nbsp;&nbsp;
  = yield 
