!!!
%html
  %head
    %title
      Six Minutes
    %meta{:name => 'description', :content => 'six minutes'}
    = stylesheet_link_tag 'base.css', 'mybootstrap.css'
    = javascript_include_tag :defaults, 'jquery.countdown.min.js'
    = yield(:head)    
    = csrf_meta_tag 
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25276475-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    

%body
  = render :partial => 'shared/topbar'      
  .topbar_spacer     
  .container
    = yield 
  #footer
    .inner
      .container
        %center
          &copy sixminutes.heroku.com
          =Time.now.year
          ="-"
          ="Developed by #{link_to 'Beyond The Cube', 'http://www.beyondthecube.ca', :class => 'orange'}".html_safe
          
